Pillow==8.3.2
docopt==0.6.2
exifread==2.1.2
pluginbase==1.0.0
cowpy==1.1.0

# --- for cutting the templates manually (./cli/setup_templates_manually.py)
matplotlib

# --- development 
pytest
wdb.server==3.2.5
wdb==3.2.5
